


<h1>Customer Dashboard</h1>


<button type="button" name="button"> <a href="/pay"> Pay </a>  </button> <br>
<br>
<br>
<br>
<button type="button" name="button"> <a href="/receive"> Receive </a>  </button>
<br>
<br>
<br>
<br>
<button type="button" name="button"> <a href="/profile"> Profile </a>  </button>
<br>
<br>
<br>
<br>
<button type="button" name="button">  <a href="/transactions"> Transactions </a> </button>
<br>
<br>
<br>
<br>
<button type="button" name="button">  <a href="/groups"> Groups </a> </button>
<br>
<br>
<br>
<br>



<button type="button" name="button"><a href="/logout"> Logout </a>  </button>
